<div class="container custom-container">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{jockeyData.id}}</td>
                    <td>{{jockeyData.name}}</td>
                    <td>{{jockeyData.email}}</td>
                    <td>{{jockeyData.phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>