<div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Create Jockey</h3>
  
      <div class="form-group">
        <label>Name:</label>
        <input type="text" [(ngModel)]="jockeyDetails.name" class="form-control" placeholder="Name">
      </div>
  
      <div class="form-group">
        <label>Email:</label>
        <input type="text" [(ngModel)]="jockeyDetails.email" class="form-control" placeholder="Email">
      </div>
  
      <div class="form-group">
        <label class="float: left">Phone #:</label>
        <input type="text" [(ngModel)]="jockeyDetails.phone" class="form-control" placeholder="Phone">
      </div>
  
      <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" (click)="addJockey()">Create Jockey</button>
      </div>
  
    </div>

        <!-- Cancel if not to add a jockey -->
        <div class="no-data text-center mt-5">
          <button class="btn btn-outline-secondary px-5" routerLink="/jockeys-list">Cancel - Return to Jockeys List</button>
      </div>
  </div>